@media (max-width:1200px) {
    .font-size{
        font-size: 15px !important;
    }
}
@media (max-width:992px) {
    .font-size{
        font-size: 10px !important;
    }
}
@media (max-width:768px) {
    .font-size{
        font-size: 15px !important;
    }
}
.img-hover{
    transition: ease-in-out;
    transition-duration: .5s;
}
.img-hover:hover{
    transform: scale(1.2);
}